@model Kisi

<html>
	<head>
		<meta />
		<title>Kişiyi Getir</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
		<p><b>Kişi ID:</b> @Model.Id</p>
	<p><b>Kişi Ad Soyad:</b> @Model.Ad @Model.Soyad</p>
	<p><b>Kişi Doğum Tarihi:</b> @Model.DogumTarihi</p>
	</body>
</html>