@model _07_CodeFirstDoktor.Models.VMs.DoktorEkleVM

<div class="container">
	<form asp-action="Ekle" method="post">
		<div style="margin:4px" class="form-group">		
			Ad: <input type="text" asp-for="Isim">
		</div>
		<div style="margin:4px" class="form-group">
			Soyad: <input type="text" asp-for="Soyisim">
		</div>
		<div style="margin:4px" class="form-group">
			Branş: <input type="text" asp-for="Brans">
		</div>
		<div style="margin:4px" class="form-group">
			Doğum Tarihi: <input type="date" asp-for="DogumTarihi">
		</div>
		<div style="margin:4px" class="form-group">
			Email: <input type="email" asp-for="Mail">
		</div>
		<input style="margin:4px" type="submit" value="Ekle" class="btn btn-outline-primary" />
		</form>
</div> 