
@{
    ViewData["Title"] = "CikisSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="deneme">
    <h2>Çıkış Sayfasına Hoşgeldiniz</h2>
</div>

@section Stil{
    <style>
        .deneme{
            color:darkred;
            background-color:dimgray;
            text-align:center;
            padding:2px
        }
    </style>
}
