
@{
    ViewData["Title"] = "GirisSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="deneme"><h2>Giriş Sayfasına Hoşgeldiniz</h2></div>

@section Stil {
    <style>
        .deneme {
            color: palegoldenrod;
            background-color: sandybrown;
            text-align:center;
            padding: 2px
        }
    </style>
}