
@{
    ViewData["Title"] = "KayitSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="deneme">
    <h2>
        Kayıt Sayfasına Hoşgeldiniz
    </h2>
</div>

@section Stil{
    <style>
        .deneme{
            color:wheat;
            background-color:darkolivegreen;
            text-align:center;
            padding: 2px
        }
    </style>
}