@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="deneme">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</div>

@section linkler{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CikisSayfasi">Çıkış Yap</a>
    </li>
}