
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="alert alert-danger">
        <h1>Hata Sayfası</h1>
        <h3>Bilgileriniz doğru değil!</h3>
    </div>
</body>
</html>
