@model Personel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <form style="margin:2px" method="post">
         Mail: <input type="text" asp-for="Mail" />
        Şifre: <input type="text" asp-for="Sifre" />
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>

</body>
</html>
